<style>
 header{
    border-bottom:1px solid gray;
    padding:20px;

 }
  nav {
    border-right:1px solid gray;
    width:200px;
    float:left;
    height:600px;
  }
   article{
    float:left;
    padding:20px;
   }
  nav ol{
    list-style:none;

  }
    h2{
        font-size:50px;
    }
</style>
